[submodule "solar_panel_test/nucleum"]
	path = solar_panel_test/nucleum
	url = git@github.com:lab11/nucleum.git
	branch = master

[submodule "testbed/module/nrf51822/nrf5x-base"]
	path = testbed/module/nrf51822/nrf5x-base
	url = https://github.com/lab11/nrf5x-base.git
[submodule "bgauge_test/nucleum"]
	path = bgauge_test/nucleum
	url = https://github.com/lab11/nucleum
[submodule "modules/spectrum154/contiki/contiki"]
	path = modules/spectrum154/contiki/contiki
	url = https://github.com/contiki-os/contiki
[submodule "modules/spectrum154/contiki/atum"]
	path = modules/spectrum154/contiki/atum
	url = https://github.com/lab11/atum
