[submodule "solar_panel_test/nucleum"]
	path = test/solar_panel_test/nucleum
	url = https://github.com/lab11/nucleum.git
	branch = master
[submodule "modules/spectrum154/contiki/contiki"]
	path = modules/spectrum154/contiki/contiki
	url = https://github.com/contiki-os/contiki
[submodule "modules/spectrum154/contiki/atum"]
	path = modules/spectrum154/contiki/atum
	url = https://github.com/lab11/atum
[submodule "signpost-software"]
	path = signpost-software
	url = https://github.com/lab11/signpost-software
