/* CSS for Signpost Summon UI */

* {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html, body { 
  margin:0;
  height:100%;
  overflow:hidden;
  transition:all .3s;
  background:url(../img/bg.jpg) center center / cover;
}

#sign {
  max-width:100%;
  max-height:200%;
  margin-bottom:-5px;
  display:inline-block;
  font-family: monospace;
}

#rect {
  width:100%;
  height:100%;
}

#velocity {
  font-family:sans-serif;
  font-size:50px;
}

#temp, #hum, #lux, #pres {
  font-size:7px;
}

#co2, #vocp, #voci {
  font-size:20px;
}

.mod {
  padding:5px;
  width:120px;
  height:120px;
  text-align:center;
  border-radius:13px;
  color:rgba(255,255,255,.7);
  background:rgba(128,200,225,.2);
}

.mod svg, table {
  width:120px;
  height:90px;
  transition:all .3s;
  fill:rgba(128,200,225,.7);
}

.axis {
  fill:none;
  stroke-width:0.5px;
}

.axis text {
  font-size:5px;
  letter-spacing:-.12em;
}

.unit {
  fill:rgba(128,200,225,.7);
}

.pkt, .byt, .mah {
  text-align:right;
}

table td {
  text-align:left;
  font-size:7px;
}

tr:first-child {
  color:rgba(128,200,225,.7);
}

line {
  stroke-width:.5px;
  stroke:rgba(255,255,255,.8);
}

b {
  font-size:8px;
  font-weight:normal;
}

text {
  fill:rgba(255,255,255,.7);
  text-anchor:middle;
  font-size:9px;
}

image {
  width:20px;
  height:20px;
}
